# Servidor
NODE_ENV=development
PORT=3001
API_PREFIX=/api/v1

# CORS
CORS_ORIGIN=http://localhost:5173

# Oracle
ORACLE_USER=GITT_SCHEMA
ORACLE_PASSWORD=GittPass2024
ORACLE_CONNECT_STRING=localhost:1521/XEPDB1
ORACLE_SCHEMA=GITT_SCHEMA
ORACLE_POOL_MIN=2
ORACLE_POOL_MAX=10
ORACLE_POOL_INCREMENT=1

# JWT
JWT_SECRET=cambia_esto_a_un_secreto_de_al_menos_256_bits_en_produccion_xxxxxxxxx
JWT_EXPIRES_IN=8h

# Bcrypt
BCRYPT_ROUNDS=12

# Logs
LOG_LEVEL=info
LOG_DIR=./logs

# Uploads
UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=5

# Cron
CRON_PRESTAMOS_VENCIDOS=0 8 * * *
